<!doctype html>

<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="The Jaguar Squad">
	<title>SquadGoals/Group</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!--JQuery-->
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script type="public/javascripts" src="customjquery.js"></script>
</head>


<!--
	<div class="container">
		<img src="/images/logo.jpg" class="img-responsive center-block">
	</div>
-->



<!--
	Top Navigation Bar
-->
<header class="navbar-default">
<div id="divContainer" class="container">
    <nav class="col-xs-12 navbar-inverse navbar-fixed-top" role="navigation">
        <div id="divContainer" class="container">
                <div class="row" id="bottomNav">
                    <div class="col-xs-3 text-center"><a href="#"><i class="glyphicon glyphicon-cog"></i><br>Settings</a></div>
                    <div class="col-xs-6 text-center">	<img src="/images/logobrown.png" class="img-responsive center-block"></div>
                    <div class="col-xs-3 text-center"><a href="/logout"><i class="glyphicon glyphicon-log-out"></i><br>Log Out</a></div>


            </div>
        </div>
    </nav>
</div>
</header>
<!--
	Group Progress
-->
<div style="text-align: center">
</div>
<div class="panel panel-info">

        <div class="panel-heading">
            <h3>Group Progress</h3>
        </div>
    <div style="text-align: center">

    <h1>{{groupName}}</h1>
    </div>
    <div class="progress">
        <div id="squadprogress" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{groupPercentage}}%;">
<!-- Step counts inside the progress bar
            {{groupTotal}}/{{groupGoal}} Steps
-->
        </div>
    </div>
  	<div class="panel-body" style="text-align: center">

  		<span class="badge">{{groupTotal}}
  		/
    	{{groupGoal}} Steps</span>

    </div>
</div>
<div class="text-center">
    <ul>
    <a href="/group?date={{prevDate}}">
        <img src="/images/BackArrow.png" width="30"></img>
    </a>
    <a href="/addData" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i> Update Steps</a>
    <a href="/group?date={{nextDate}}">
        <img src="/images/NextArrow.png" width="30">
    </a>
    </ul>
</div>


	<!--List of user steps-->
 <ul id="listOfUsers" class="list-group">

			{{#each members}}
			<li class="list-group-item{{#if this.offColour}} active{{/if}}">

				<!-- Disabled Arrows for Now
                <span class="glyphicon glyphicon-arrow-up"> <b>{{this.username}}</b></span>
                -->
				<span> <b>{{this.username}}</b></span>

				<span class="badge"> Steps {{this.steps}}/{{this.goal}}</span>

				<div class="progress" style="width:100%">
					<span id="{{this.username}}ProgressBar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" width="40" style="width: {{this.percentage}}%;"> &nbsp; </span>
				</div>

			</li>
			{{/each}}
		

	</ul>



<!--
	Bottom Bar
 -->

<!--<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
                    <li><a href="#">Profile</a></li>
                    <li class="active"><a href="/group">MySquads</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="/groupranking">Leaderboard</a></li>
                </ul>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

        </div>
    </div>
</footer>-->
<!--
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Profile</a></li>
            <li><a href="/group">My Squads</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="/groupranking">Leaderboard</a></li>

        </ul>
    </div>
</nav>-->
<div id="footer">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-3 text-center"><a href="/group"><i class="glyphicon glyphicon-user"></i><br>Profile</a></div>
            <div class="col-xs-3 text-center"><a href="/group"><i class="glyphicon glyphicon-tasks"></i><br>Dashboard</a></div>
            <div class="col-xs-3 text-center bg-info"><a href="/group"><i class="glyphicon glyphicon-star"></i><br>MySquads</a></div>
            <div class="col-xs-3 text-center"><a href="/groupranking"><i class="glyphicon glyphicon-list-alt"></i><br>Leaderboard</a></div>
        </div>
    </div>
</div>

</html>
